@import "components/responsive.css";
@import "components/cta.css";
@import "components/decorations.css";
@import "components/texts.css";


/*
 * .Hero__wrapper
 * Styles for the hero section wrapper.
 * Sets the minimum height to 100vh, background color to var(--pastel-cream),
 * and displays the content flexibly with center alignment.
 */
.Hero__wrapper {
  min-height: 100vh;
  background-color: var(--pastel-cream);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/*
 * .Hero__content
 * Styles for the hero section content.
 * Sets the maximum width, padding, and text alignment.
 */
.Hero__content {
  max-width: var(--container-max-width);
  padding: 2rem;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 100%;
}

/* Animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes subtleFloat {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px) translateX(10px);
  }
}
